<p>
The application ASPEM is part of the PhD thesis of Ignacio Lopez-Rodriguez at the <a href="http://www.siani.es" target="_blank">Institute for Intelligent Systems and Numeric Aplications</a> (SIANI), <a href="http://www.ulpgc.es" target="_blank">University of Las Palmas de Gran Canaria</a> (ULPGC).
</p>

<p>
ASPEM stands for <strong>Agency Services Provider for the Energy Management</strong>. This concept is explained in greater depth in the following papers:
</p>

<div style="margin-left: 2em; line-height: 160%">
	Agent-Based Services for Building Markets in Distributed Energy Environments<br/>
	on the <em>International Conference on Renewable Energies and Power Quality</em>, 2010<br/>
	Ignacio Lopez-Rodriguez and Mario Hernandez-Tejera
</div>
<br/>
<div style="margin-left: 2em; line-height: 160%">
	Challenges of using smart local devices for the management of the Smart Grid<br/>
	on the <em>IEEE International Conference on Smart Grid Communications</em>, 2011<br/>
	Ignacio Lopez-Rodriguez and Mario Hernandez-Tejera
</div>

<p>
ASPEM is a specific application of the more generic concept of <strong>Agency Services</strong>, which is fully described in the following papers:
</p>

<div style="margin-left: 2em; line-height: 160%">
	Agency Services<br/>
	on the <em>International Conference on Agents and Artificial Intelligence (ICAART)</em>, 2010<br/>
	Ignacio Lopez-Rodriguez and Mario Hernandez-Tejera
</div>
<br/>
<div style="margin-left: 2em; line-height: 160%">
	Software Agents as Cloud Computing Services<br/>
	on Springer <em>Advances on Practical Applications of Agents and Multiagent Systems</em>, 2011<br/>
	Ignacio Lopez-Rodriguez and Mario Hernandez-Tejera
</div>
<br/>


