@import url("../reindeer/styles.css");
@import url("signa.css");
@import url("scrollbar.css");

.v-app {
	background-color: #FFF;
	font-family: Tahoma, Sans-Serif;
	font-size: small;
	word-spacing: .005em;
}


/* Table */
/* ----- */

.v-table-cell-content,
.v-table .v-selected .v-table-cell-content
{
	border-style: none;
}

.v-table-caption-container {
	font-family: Tahoma, Sans-Serif;
	font-size: small;
	font-weight: normal;
	color: #293237;
	word-spacing: .005em;
	text-transform: none;	
}

.v-table-header .v-table-caption-container {
	font-size: 120%;
	font-weight: bold;
	text-transform: none;
}

.v-table-header-wrap { /* Header row */
	background: #FFF;
	border-style: none none solid none;
	border-with: 0px 0px 1px 0px;
	border-color: #616A73;
}

.v-table-header table, .v-table-table {
	border-collapse: collapse;
}

.v-table-body, .white .v-table-body { /* Border of the table */
	border-width: 0px;
}

.v-table-row-odd {		
     background: none repeat scroll 0 0 #F2F5EE;
}

.v-table-row.v-selected, .v-table-row-odd.v-selected {
	color: #293237;
	fon	t-size: small;
	font-weight: 500;
	background: none repeat scroll 0 0 #FFD;
	text-shadow: none;
}


.v-table-header-cell {
	/*border-left: 1px solid #616A73;*/
	border-right: 1px solid #616A73;
}


.v-table-resizer {
	border-right: 1px solid #000000;
}

.v-table-header-cell-desc .v-table-sort-indicator { /* table desc sort indicator */
	background: url("../base/common/img/sprites.png") no-repeat scroll right -10px transparent;
	width: 16px;
}
.v-table-header-cell-asc .v-table-sort-indicator { /* table asc sort indicator */
	background: url("../base/common/img/sprites.png") no-repeat scroll right 6px transparent;
	width: 16px;
}



/* Forms labels */
/* ------------ */
.v-caption.v-caption-hasdescription span {
	font-family: Tahoma, Sans-Serif;
	font-size: small;
	font-weight: bold;
	color: #293237;
	word-spacing: .005em;
}

.v-required-field-indicator {
	color: #000000;
}

.v-formlayout-contentcell input.v-textfield, .v-formlayout-contentcell textarea.v-textarea {
	font-family: Tahoma, Sans-Serif;
	font-size: small;
	font-weight: normal;
	color: #293237;
	word-spacing: .005em;	
}


/* Comboboxs */
/* --------- */

div.v-filterselect {
	background: #FFF none repeat scroll 0 0;
	padding: 0px;
}

input.v-filterselect-input[type="text"]
{ /* Dropdown input control */
	padding: 3px 3px 4px;
	border: 1px solid #616A73;
	background: #FFF;
	color: #293237;
	margin: 0px;
	border-radius: 0;
	height: 18px;
}

.v-filterselect-button
{ /* Dropdown button */
	background: #FFF url("../base/common/img/sprites.png") no-repeat scroll 0px -5px;
	border: 1px solid #616A73;
	border-radius: 0;
	height: 25px;
}

.v-filterselect-focus .v-filterselect-button,
.v-filterselect-focus .v-filterselect-button:hover
{ /* Dropdown button */
	background-image: url("../base/common/img/sprites.png");
	background-position: 0px -5px;
	border: 1px solid #616A73;
	border-radius: 0;
}

.v-filterselect-button:hover, .v-filterselect-button:focus, .v-filterselect-button:active
.v-filterselect-focus .v-filterselect-button:hover 
{ /* Dropdown button */
	background: url("../base/common/img/sprites.png") no-repeat scroll 0px -5px #F2F5EE;
	border: 1px solid #616A73;
	border-radius: 0;
}

.v-filterselect-suggestpopup
{ /* Options box */
	background: none repeat scroll 0 0 #DEDEDE;
	border: 1px solid #616A73;	
	border-radius: 0px;
	box-shadow: 2px 2px 1px black;
}

.v-shadow .left, .v-shadow .right, .v-shadow .top, .v-shadow .bottom,
.v-shadow .top-right, .v-shadow .top-left, .v-shadow .bottom-right, .v-shadow .bottom-left
{ /* Options box border */
	background: none;
}

.gwt-MenuItem.gwt-MenuItem-selected
{ /* Items of the options box */
	background: none repeat scroll 0 0 #F2F5EE;
	color: #293237;
	text-shadow: none;
}


/* Context-menu */
/* ------------ */

.v-contextmenu 
{
	background: none repeat scroll 0 0 #FEFEFE;
	border: 1px solid #616A73;
	border-radius: 0px;
	box-shadow: 2px 2px 1px black;
	color: #293237;	
}

.v-contextmenu .gwt-MenuItem-selected div {
    background: none repeat scroll 0% 0% #F2F5EE;
    color: #293237;
}



/* Textfields */
/* ---------- */

.v-textfield {
	width: 270px;
	padding: 3px 3px 4px;
	border: 1px solid #616A73;
	background: #FFF;
	color: #293237;
	margin: 0px;
	border-radius: 0;
	height: 20px;
}


.v-textarea {
	width: 270px;
	padding: 3px 3px 4px;
	border: 1px solid #616A73;
	background: #FFF;
	color: #293237;
	margin: 0px;
	border-radius: 0;
}


.v-textfield:hover, .v-textarea:hover,
.v-textfield:focus, .v-textarea:focus {
	border-color: black;
}

/* Navigation Menu links */
/* --------------------- */

div.v-button-ign-topmenu, div.ign-topmenu {
	border: 0px;
	background: none;
	padding: 0px;
	vertical-align: top;
	margin: 0px 7px;
}

.v-button-ign-topmenu .v-button-wrap {
	display: inline;
	background-color: #FFFFFF;

}

.v-button-ign-topmenu .v-button-wrap:hover {
	display: inline;
	background-color: #FFFFFF;
}



.v-button.v-button-link.v-button-ign-topmenu .v-button-caption {
	color: #A0A3A6;
	text-decoration: none;	
	font-family : Century Gothic, Futura, sans-serif;
	font-style: normal;
	fort-weight: normal;
	font-size: 100%;
	outline: 0px;	
}

.v-button.v-button-link.v-button-ign-topmenu .v-button-caption:hover {
	color: #CCCCCC;
}


.v-button.v-button-link.v-button-ign-topmenu .v-button-wrap:hover .v-button-caption {
	color: #CCCCCC;
	background: none;
	text-decoration: none;
	border-bottom: 1px solid #F2F5EE;	
}


.v-button-ign-navmenu.v-button.v-button-link.v-button-ign-navmenu {
	border: 0px;
	color: #293237;
	display: block;	
}

.v-button.v-button-link.v-button-ign-navmenu .v-button-wrap {
	padding: 4px 3%;
	width: 100%;
}

.v-button.v-button-link.v-button-ign-navmenu .v-button-wrap:hover {
	background: #f2f5ee;
}

.v-button-ign-navmenu.v-button-link:focus .v-button-caption,
.v-button-ign-navmenu.v-nativebutton-link:focus .v-nativebutton-caption {
	outline: 0px;
}

.v-button-ign-navmenu.v-button-link .v-button-caption {
	color:#293237;
	font-family: Tahoma, Sans-Serif;
	font-size: medium;
	text-decoration: none;
	word-spacing: 0.005em;
}


/* Buttons */
/* ------- */
.v-button, .v-disabled.v-button {
	background-color: #FFF;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	color:#293237;
	border: 1px solid #616A73;
}

.v-button-wrap, .v-disabled.v-button .v-button-wrap, .v-button:focus .v-button-wrap {
	background: inherit;
	height: auto;
}

.v-button:active, .v-button.v-pressed {
	color: #293237;
	border-style: inset;
}

.v-disabled.v-button:active, .v-disabled.v-button.v-pressed {
	border-color: #616A73;
}

.v-button:active .v-button-wrap {
	background-color: inherit;
	height: auto;
	padding: 6px 11px 0px 13px;
}

.v-disabled.v-button .v-button-wrap {
	padding: 4px 15px 0 9px;
}

.v-button:hover, .v-button:focus {
	background-color: #F2F5EE;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;	
}

.v-disabled.v-button {
	background-color: #FFF;
}

.v-button {
	cursor: pointer;
}

.v-disabled.v-button {
	cursor: auto;
}


.v-button-caption {
	color:#293237;
	font-size:90%;
	font-family:Arial, Sans-serif;
	font-weight:700;
	text-shadow: none;
}

/* Popups */
/* ------ */
.v-window-outerheader {
	background: none repeat scroll 0 0 #EEE;
	border-bottom: 1px solid #616A73;
}

input.v-textfield-readonly:focus, textarea.v-textarea-readonly:focus,
input.v-textfield-readonly:hover, textarea.v-textarea-readonly:hover {
	outline: 0px;
	border: 0px;
	cursor: pointer;
}

.v-window-header {
	font-family: Tahoma,Sans-Serif;
	font-size: 120%;
	font-weight: bold;
	color: #293237;
	word-spacing: .005em;
	text-align: left;
	text-transform: none;
	text-shadow: none;		
}

.v-horizontallayout.v-horizontallayout-ign-buttonsbar, .ign-buttonsbar {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #616A73;
}

.v-panel-ign-buttonswrap, .v-panel-content-ign-buttonswrap {
	border: 0px;
	outline: none;
}

.v-panel-deco.v-panel-deco-ign-buttonswrap,
.v-panel-nocaption.v-panel-nocaption-ign-buttonswrap {
	height: 0px;
	border: 0px;
	outline: none;	
}